<div class="flex container">
  <div class="wrapper">


    <div class="user display-text text-center">
      <h1><%= @ask%></h1>
      <h2>- You</h2>
    </div>

	<div class="coach display-text text-center">
	    <h1><%= @answer %> </h1>
	    <h2>- Your coach</h2>
    </div>
  </div>
</div>


<div class="link text-center"><%= link_to "Ask a new question to my coach", ask_path%></div> 