<!-- <div class="flex container">
  <div class="wrapper">
    <div class="coach display-text text-center">
      <h1>What's up bro ?</h1>
      <h2>- Your coach</h2>
    </div>
  </div>
</div> -->

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it coach?">
  <input type="submit" value="Go on!">
</form>