.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.wrapper {
  h2 {
    color: rgb(200, 200, 200);
    font-size: 24px;
    font-weight: lighter;
    padding-top: 20px;
    margin: 0;
  }
  h1 {
    font-size: 30px;
    margin: 0;
  }
}

.display-text {
  border-left: 4px solid rgb(200, 200, 200);
  align-items: center;
  margin: 50px;
  padding: 30px;
  width: 500px;
}

.user {
  border-color: #464545;
}

.coach {
  border-color: #FB5660;
}

.link {
  font-size: 24px;
}